html {
  box-sizing: border-box;
  font-family: "Karla";
  font-size: 16px;
}

body {
  padding: 20px;
}

h2, h4 {
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  width: 600px;
  height: 400px;
  box-shadow: 1px 2px 36px 0px rgba(0,0,0,0.42);
  border-radius: 5px;
  overflow: hidden;
  
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
}

#bottom-section {
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #2ab2af;
  padding: 25px;
}

#bottom-right-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #2ebfbd;
  vertical-align: top;
  padding: 25px;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 15px;
}
#top-section h4 {
  color: #c0df34;
  margin-bottom: 15px;
}

#top-section p {
  color: #98a6bd;
}

button {
  color: white;
  background-color: #c0df34;
  border: none;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  font-family: 'Karla';
  box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.1);
}

button:hover {
  cursor: pointer;
  background-color: #a9c42d;
  transform: scale(1.01);
}

#price {
  font-weight: 700;
  font-size: 1.4rem;
}

#bottom-left-section h4{
  margin-bottom: 15px;
}

#price-freq {
  position: relative;
  font-size: 0.8rem;
  top: -3px;
  opacity: 0.8;
  margin-left: 7px;
}

#price-freq, #price {
  display: inline;
}

ul {
  padding: 0px;
  list-style: none;
  font-size: 0.8rem;
  opacity: 0.8;
}
